body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  nav{
    background: black;
  }

  main {
    flex: 1 0 auto;
  }

  .visible {
    // display: block;
    // width: 75%;
    // padding: 10px 30px;
  
  }
  
  .hidden {
    display: none;
  }